.weather-container {
  border: none;
  border-radius: 10px;
  background-color: #c2bcb2;
  background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.5) 10%,
      rgba(0, 0, 0, 0.5) 100%
    ),
    radial-gradient(
      at 50% 0%,
      rgba(255, 255, 255, 0.1) 10%,
      rgba(0, 0, 0, 0.5) 60%
    );
  background-blend-mode: soft-light, screen;
  box-shadow: 6px 6px 35px -17px rgba(65, 65, 65, 0.4);
  display: block;
  margin: 5% auto 0px;
  max-width: 650px;
  padding: 5%;
}

h6 {
  font-size: 8pt;
  color: #1c1c1c;
  text-align: right;
}

h1 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 100;
  font-size: 55pt;
  color: #ffffff;
  text-align: left;
}

p {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  font-size: 10pt;
  color: #ffffff;
}

h2 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 100;
  color: #ffffff;
  text-align: center;
  display: inline;
  font-size: 36pt;
}

h3 {
  line-height: 1.1;
  font-size: 12pt;
}

h5 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  color: #ffffff;
  font-size: 18pt;
}

h4 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  text-align: center;
  margin-top: 0px;
  font-size: 8pt;
  color: #323232;
}

h6 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  color: #ffffff;
  text-align: left;
  margin-top: -5px;
  letter-spacing: 2px;
}

#date-names {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 500;
  font-size: 8pt;
  color: #ffffff;
}

hr {
  border-color: #ffffff;

  border-width: 0.25px;
  opacity: 0.4;
}

.weather-forecast-temperature {
  font-size: 16px;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 500;
  text-align: center;
}

#humidity {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  color: #ffffff;
  font-size: 10pt;
}

#humidity-value {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  color: #ffffff;
}

#wind {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  color: #ffffff;
  font-size: 10pt;
}

#search-form {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  font-size: 10pt;
}

#search-text-input {
  border: none;
  border-radius: 4px;
  padding: 5px 10px;
}

#submit-button {
  color: #1c1c1c;
  background-color: #ffffff;
  border: none;
  padding: 5px 15px;
  margin-left: 10px;
  border-radius: 4px;
}

#clothing {
  text-align: left;
}

#bold {
  font-weight: 700;
}

#forecast {
  color: #ffffff;
  font-size: 8pt;
  font-weight: 900;
}

#temp-indicator {
  color: #ffffff;
  text-align: left;
}

#humidity {
  text-align: left;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 9pt;
  line-height: 80%;
}

#wind {
  text-align: left;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 9pt;
  line-height: 80%;
}

.align-left {
  float: left;
}
.align-right {
  float: right;
}

#illustration {
  align-content: center;
  display: inline-block;
  margin: 0 auto;
  margin-left: -10px;
}

#forecast-icons {
  max-width: 75px;
}

#hours {
  font-size: 12px;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 100;
  text-align: center;
}

#negative-line-height {
  margin-top: -10px;
}

#temp-values {
  margin-left: 20px;
  margin-top: 8px;
}
