.weather-container {
  border: none;
  border-radius: 10px;
  background: linear-gradient(to bottom, #323232 0%, #3f3f3f 70%, #1c1c1c 150%),
    linear-gradient(
      to top,
      rgba(255, 255, 255, 0.4) 0%,
      rgba(0, 0, 0, 0.25) 200%
    );
  background-blend-mode: multiply;
  box-shadow: 6px 6px 35px -17px rgba(65, 65, 65, 0.4);
  display: bock;
  margin: 10% auto 0px;
  max-width: 600px;
  padding: 5%;
}

h6 {
  font-size: 8pt;
  color: #e2e2e2;
}

h1 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 100;
  color: #ffffff;
}

p {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  font-size: 10pt;
  color: #ffffff;
}

h2 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 100;
  color: #ffffff;
}

h5 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  color: #ffffff;
}

h6 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  color: #ffffff;
}

#date-names {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 500;
  font-size: 8pt;
  color: #ffffff;
}

hr {
  border-color: #ffffff;
}

#humidity {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  color: #ffffff;
}

#humidity-value {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  color: #ffffff;
}

#wind {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  color: #ffffff;
}

#search-form {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
}

submit {
  color: #1c1c1c;
  background-color: #ffffff;
}
